<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--代表使用inc目录下模板是muban.html中的叫header的模块中间的内容-->
  <th:block th:include="inc/muban :: header" />
</head>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <div id="sidebar">
    <th:block th:include="inc/muban :: sidebar" />
   </div>
  <!-- End #sidebar -->
  <div id="main-content">
    <!-- Page Head -->
    <h2>首页</h2>
    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>首页欢迎信息</h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab">
          <h1 align="center">欢迎您：<th:block th:text="${session.loginname}"></th:block></h1>
        </div>

      </div>
      <!-- End .content-box-content -->
    </div>

    <th:block th:include="inc/muban :: footer"></th:block>
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
