<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--代表使用inc目录下模板是muban.html中的叫header的模块中间的内容-->
  <th:block th:include="inc/muban :: header" />
  <style>
    .listlabel{
      display:inline;
      font-weight:normal;
    }
    .addkeyvaluebtn{
      margin:5px;
    }

    .kvcha{
      display:none;
    }

    .kv2:last-child .kvcha{
        display:inline-block;
    }

    .chaval{
      display:none;
    }

    .valueitem:last-child .chaval{
      display:inline-block;
    }

    .kv2 div{
      margin-top:10px;
    }
  </style>
  <script type="text/javascript" th:src="@{/resources/scripts/jquery-3.6.0.js}"></script>
</head>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <div id="sidebar">
    <th:block th:include="inc/muban :: sidebar" />
   </div>
  <!-- End #sidebar -->
  <div id="main-content">
    <!-- Page Head -->
    <h2>产品管理</h2>
    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>添加产品</h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->

      <div class="content-box-content">
        <div class="tab-content default-tab">
          <form th:action="@{/spu/alter}" method="post" enctype="multipart/form-data">
          <table>
            <thead>
              <tr>
                <th width="150px">属性</th>
                <th >值</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td ><label>商品名</label></td>
                <td >
                  <input class="text-input small-input" type="hidden" id="small-input" name="spu_id" th:value="${spu.spu_id}">

                  <input class="text-input small-input" type="text" id="small-input" name="spu_name" th:value="${spu.spu_name}">
                </td>
              </tr>
              <tr>
                <td ><label>商品标题</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="spu_title" th:value="${spu.spu_title}">
                </td>
              </tr>
              <tr>
                <td ><label>选择品牌</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="brand_id" list="datalist" th:value="${spu.brand_id}" onchange="ss()">
                  <datalist id="datalist" class="brandlist" >
                    <th:block th:each="cate:${brandList}">
                      <option th:value="${cate.brand_id}" th:text="${cate.brand_name}"></option>
                    </th:block>

                  </datalist>
                </td>
              </tr>
              <tr>
                <td ><label>产品单位</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="spu_unit" th:value="${spu.spu_unit}">
                </td>
              </tr>
              <tr>
                <td ><label>是否上架</label></td>
                <td >
                  <select  name="spu_status" class="text-input small-input">
                    <option value="1" th:selected="${spu.spu_status==1}">上架</option>
                    <option value="0" th:selected="${spu.spu_status==0}">下架</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td ><label>当前分类</label></td>
                <td >
                  <input class="text-input small-input" type="hidden" th:value="${spu.categoryList[0].cate_id}">
                  <div id="datalist2">
                      <span  th:text="${spu.categoryList[0].cate_name}"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td ><label>请选择筛选属性</label></td>
                <td >
                  <div class="shaixuan">
                      <div class="keyvalue">
                        <div class="keyvalue" th:each="key:${spu.sxkeyList}">
                             <span th:text="${key.key_name}"> </span>
                              <th:block th:each="val:${key.valueList}">
                               <label class="listlabel">
                                 <input type="checkbox" name="value_ids" th:value="${val.value_id}" th:checked="${val.ischecked!=null}" th:if="${val.ischecked!=null}">
                                 <th:block th:text="${val.value_name}"></th:block>
                               </label>
                              </th:block>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td ><label>添加规格属性</label></td>
                <td >

                  <div class="kvwai">
                    <div class="kv2" th:each="key,vsi:${spu.keyList}">
                      <div class="key2">
                        属性键：<b><span  th:text="${key.key_name}"></span></b>
                        <input th:name="${ 'keyList['+vsi.index + '].key_id'}"  type="hidden" th:value="${key.key_id}">
                        <input class="addvaluebtn" type="button" value="添加属性值">
                      </div>
                      <div class="value2">
                        <div class="valueitemk" th:each="val,vsj:${key.valueList}">
                          属性值:
                          <b> <span th:text="${val.value_name}"></span></b>
                          <th:block th:each="tu,index:${val.spu_attr_imgs_Arr}">
                            <img border="1px" style="border:2px solid #abc" width="30px" height="60px" th:src="@{${'http://localhost:8888/img/'+tu}}">
                          </th:block>
                        </div>

                      </div>
                      <hr/>
                    </div>

                  </div>

                </td>
                </td>
              </tr>
              <tr>
                <td ><label>产品描述</label></td>
                <td >
                  <textarea class="text-input textarea wysiwyg" id="textarea" name="spu_introduction"  style="width:50%!important;">
                    <th:block th:text="${spu.spu_introduction}"></th:block>
                  </textarea>
                </td>
              </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="2">
                <button class="button" >添加提交</button>
              </td>
            </tr>
            </tfoot>
          </table>
          </form>
        </div>

      </div>
      <!-- End .content-box-content -->
    </div>

    <th:block th:include="inc/muban :: footer"></th:block>
  </div>
  <!-- End #main-content -->
  <script>



    $(function(){
        $(document).on("click",".addvaluebtn",function(){
          let i=$(this).parent().parent().index();
          //获取当前value的个数
          let j=$(this).parent().next().find(".valueitem").length;
          $(this).parent().next().append(`
              <div class="valueitem">
                  属性值: <input name="keyList[${i}].valueList[${j}].value_name"  class="text-input small-input" type="text">
                  选择图片:<input name="keyList[${i}].valueList[${j}].tupian" class="text-input small-input" type="file" multiple>
                  <input type="button" class="chaval" value="×">
                </div>`);
        })

    })

    $(function(){
      //删除属性键值
      $(document).on("click",".kvcha",function(){
        i--;
        $(this).parent().parent().remove();
      })
      //删除最后一个属性值
      $(document).on("click",".chaval",function(){
        $(this).parent().remove();
      })
    })



    function getShaixuan(cate_id){
     $(".shaixuan").html("");
      console.log(cate_id)
      //根据分类的id 去获取 属性键 值的列表
      $.get("http://localhost:8080/spu/getKeyList/"+cate_id,function(data){
         //将字符串转成对象
         let arr=JSON.parse(data);
         let str="";

         for(let key of arr){


            str=str+`
              <div class="keyvalue">
                <span>
                  ${key.key_name}
                </span>`
                j=0;
                for(let val of key.valueList){
                 str+=` <label class="listlabel"><input type="checkbox" name="value_ids" value="${val.value_id}">${val.value_name}</label>`
                 j++;
                }

               str+=`
              </div>
              `

         }

        $(".shaixuan").append(str);

      })
    }

  </script>
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
