<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--代表使用inc目录下模板是muban.html中的叫header的模块中间的内容-->
  <th:block th:include="inc/muban :: header" />
  <style>
    .listlabel{
      display:inline;
      font-weight:normal;
    }
  </style>
</head>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
  <div id="sidebar">
    <th:block th:include="inc/muban :: sidebar" />
   </div>
  <!-- End #sidebar -->
  <div id="main-content">
    <!-- Page Head -->
    <h2>分类管理</h2>
    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>添加子分类</h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->

      <div class="content-box-content">
        <div class="tab-content default-tab">
          <form th:action="@{/category/save}" method="post">
          <table>
            <thead>
              <tr>
                <th:block th:if="${category!=null}">
                <th width="150px">当前父分类是</th>
                <th >
                  <input type="hidden" name="cate_parentid" th:value="${category.cate_id}">
                  <th:block th:text="${category.cate_name}"></th:block>
                </th>
                </th:block>
                <th:block th:if="${category==null}">
                  <th width="150px">父级分类</th>
                  <th >
                    一级分类信息
                  </th>
                </th:block>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td ><label>子分类名字</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="cate_name">
                </td>
              </tr>
              <tr>
                <td ><label>子分类排序</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="cate_sort">
                </td>
              </tr>
              <tr>
                <td ><label>频道</label></td>
                <td >
                  <input class="text-input small-input" type="text" id="small-input" name="cate_channel">
                </td>
              </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="2">
                <button class="button" >添加子分类</button>
              </td>
            </tr>
            </tfoot>
          </table>
          </form>
        </div>

      </div>
      <!-- End .content-box-content -->
    </div>

    <th:block th:include="inc/muban :: footer"></th:block>
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
